.ui
  p.big-margin-top.gray
    span
     | Displaying&nbsp;
    span#startcount
     | 1
    span
     | &nbsp;-&nbsp;
    span#endcount
     | {{ carcount }}
    span
     | &nbsp;of&nbsp; 
    span#carcount
     | {{ carcount }}
    span
     | &nbsp; 
    span
     | {{ results }}