div
  .ui.fixed.sticky
    .ui.segment.small-vertical-padding
      img.ui.small.centered.image(src='carmudi-logo-PH.svg')
  #context
    .ui.main.text.container.full-main-height
      router-view
    .ui.inverted.vertical.footer.segment.center.aligned.grid
      .ui.column.two.wide
      .ui.column.fourteen.wide.no-vertical-margin.small-vertical-padding
        img.ui.small.left.image(src='carmudi-logo-PH-white.svg')
      .ui.column.sixteen.wide.no-vertical-margin.no-vertical-padding
        | &copy; 2016 by Carmudi Philippines, Inc.